.ban{
    min-height:40vh;
    z-index: 10;
    border-bottom: 3px solid black;
    background-image: url("./images/ban-article.jpg");
    position: relative;
}

/* .ban-top{
    min-height:30vh;
    border-bottom: 3px solid rgba(0, 0, 0, 0.378);
    background-color: rgb(5, 5, 5) !important;
    position: absolute;
    bottom: 0 !important;
} */

.title-articles{
    background-color: black !important;
    text-transform: uppercase;
}

.header-link{
    font-size:2.5rem;
}


@media screen and (max-width:1024px){
    .header-link {
        font-size: 1.9rem;
    }
}