body{
    position: relative;
    height: 200vh;
}
.ban{
    min-height:60vh;
    z-index: 10;
    border-bottom: 3px solid black;
    background-image: url("./images/ban-article.jpg");
}
/* .ban-top{
    min-height:30vh;
    border-bottom: 3px solid rgba(0, 0, 0, 0.378);
    background-color: rgb(5, 5, 5) !important;
    position: absolute;
    bottom: 0 !important;
} */
.title-articles{
    background-color: black !important;
    font-weight: bolder;
    text-transform: uppercase;
    backdrop-filter: blur(10px);
}
.header-link{
    font-size:2rem;
    font-weight: bolder;
    backdrop-filter: blur(20px);
    padding: 20px;
}

.album img{
    width: 100%;
    height: 20vh !important;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 1024px){
    .header-link {
        font-size: 1.7rem;
    }
}