/* body */
* {
    margin: 0;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
}

/***** header *****/
header {
height: 60px;
justify-content: center;
width: 100%;
max-height: 100vh;
font-family: var(--bs-body-font-family);
}

header div {
min-height: 100%;
/* font-family: 'Hind Siliguri', 'Titillium Web', sans-serif; */
font-weight: bolder;
}


#main {
  min-height:100%;
  position:relative;
  padding-bottom:100px;   /* Hauteur du pied de page */
}

@media screen and(max-width: 760px) {
  /* .block1, .block2 {
    display: flex;
    flex-direction: column;
  }

  .block1 p, .block1 img {
    width: 100%;
  } */
}



.ban-article0 {
    background-image: url("./images/article1/rustrel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    min-height: 80vh;
}

@media screen and (max-width:768px) {
  
}


/****************  space  ********************/
.space1 {
    min-height: 10vh;
}

.space2 {
    min-height: 40vh;
}
/****************  MAIN  ********************/

#container {
  min-height: 80vh;
}

main {
    width: 70%;
    margin: 2rem auto;
    /* height: 100vh - 776px - 374px; */
  }
  
  .section-article1 .block1 {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .section-article1 .block1 img {
    width: 47%;
  }

  .section-article1 .block1 p {
    width: 47%;
  }

  .section-article1 .block2 {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .section-article1 .block2 img {
    width: 47%;
  }

  .section-article1 .block2 p {
    width: 47%;
  }


/*** SECTION GALLERY ***/
.close {
    font-size: 1.5rem;
  }
  
  .col-12 img {
    opacity: 0.7;
    cursor: pointer;
    margin: 2rem;
    width: 100%;
  }
  
  .col-12 img:hover {
    opacity: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
/*** SECTION GALLERY END ***/

/** button **/
.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211,212,213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.btn {
  --bs-btn-line-height: 1.5;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

}

a.btn.btn-lg.btn-light {

}

/***** FOOTER *****/
#footer {
  /* bottom:0;  on le colle en bas */
  /* width:100%;
  height:100px;   Hauteur du pied de page */
}

/* footer {
    /* height: auto;*/
    /* justify-content: center; 
    position: absolute; */
    /* margin-top: auto;
    margin-bottom: 0!important; */
    /* bottom: 0!important; 
    width: 100vw; */
    /* max-height: 40vh; */
    /* max-height: 374px; */
/* } */