.ban-article3 {
    background-image: url("./images/article3/islande2.jpg")!important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    min-height: 80vh;
}
