@import url('https://fonts.googleapis.com/css2?family=Forum&family=Hind+Siliguri:wght@300;600&family=Titillium+Web:wght@300&display=swap');

:root{
 /* --ff-header: 'Forum'; */
 --fs-header: 4rem;
 --fw-header: 400;
 --ff-paragraph: 'Lato', sans-serif;
 --fs-paragraph: 1.2rem;
 --font-size:1rem;
}

/************** navbar **********************/

.light-mode {
  --navbar-color: rgb(2, 2, 22);
  /* --navbar-bg-color: #a2a1a1;   */
}
.dark-mode {
  --navbar-color: #FFF;
  /* --navbar-bg-color: #000;   */
}

.font-blue{
  font-size: 5rem;
  font-weight: bold;
  color: rgb(2, 2, 22) !important;
}

* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}

ul {
  list-style:none;
}


body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Hind Siliguri', 'Titillium Web', 'sans-serif';
  background-color: rgba(186, 186, 186, 0.98) !important;
}


.main-content {
  padding:1rem;
}

.navbar {  
  background-color: transparent;
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  color:var(--navbar-color);
  font-weight: bolder;  
  border: none;
}
.navbar__links { 
  display:flex; 
  font-size:1.1rem;
  align-items: end; 
  padding-top: 1.2rem;
}

.navbar__logo{
   line-height: 2.2rem;
   padding-left: 1.2rem; 
   font-size: 2.1rem;
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}

/* .nav-brand{
  max-width: 50px;
  border-radius: 5%;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
} */

@media screen and (max-width:767.98px) {
  
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:rgb(2, 2, 22);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  
 
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:white; 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:white; 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
 
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }

}

/************************************/


/************** footer **************/

 footer{

  background-color: rgb(26, 26, 26);
  
} 

.copyright{
  background: #000 !important;
}



/************************************/


