main {
  width: 70%;
  margin: 2rem auto;
  height: 60vh;
}

.section-main {
    display: flex;
    flex-wrap: wrap;
}

.section-main article {
    width: 46.7%;
    border-radius: .40rem;
    gap: 1rem;
    margin: 0.5rem;
    height: 15vh;
    box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

.section-main article .bgimg {
    background-image: url(https://picsum.photos/200/300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: .5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.section-main article .bgimg:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
    padding: 3.2rem;
}
/* à modifier sur CSS responsive mobile */

.section-main article:first-child {
    width: 95%;
    align-self: self-start;
    height: 25vh;
}

.section-main article h3 {
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}
    
.section-main article p {
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    text-align: left;
    padding: .5rem 0;
    width: 60%;
}

.div-hr{

 margin-top: 10rem;
 padding-right: 0.5rem;
 }

.div-hr hr{
width: 60%;
opacity: 0.8;
margin: 0 auto;

}

h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    padding-left: 0.5rem;
    font-family: 'Forum';
}

h1, h2, h3 {
    font-family: 'Hind Siliguri';
}
